header {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: 20vh auto 20vh;

    justify-content: center;

    background-image: url('../img/Sundio_content/background_main.png');
    background-attachment: fixed;
    background-size: cover;

    color: #fff;

    .header__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}